tr:nth-child(odd) td:nth-child(even)[b-7zu5p4p7l4] {
    background-color: white;
    color: black;
}

tr:nth-child(even) td:nth-child(odd)[b-7zu5p4p7l4] {
    background-color: white;
    color: black
}

th:nth-child(odd)[b-7zu5p4p7l4] {
    background-color: white;
    color: black
}
