@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page" style="height: 100vh">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="bg-dark">
        <article class="content px-4" style="height: 100%">
            @Body
        </article>
    </main>
</div>
